<div class="wrapper">
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a routerLink="/home">
                            <h1>Coffee</h1>

                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="top-bar-right">
                        <div class="text">
                            <h2>8:00 - 11:00</h2>
                            <p>Opening Hour Mon - Fri</p>
                        </div>
                        <div class="text">
                            <h2>+84 398 341 826</h2>
                            <p>Call Us For Free Consultation</p>
                        </div>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

<!-- nav -->
<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">

                    <a routerLink="/product-home" class="nav-item nav-link active">Home</a>
                    <a routerLink="/product" class="nav-item nav-link">Product</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                        <div class="dropdown-menu">
                            <a routerLink="/blog" class="dropdown-item">Blog Page</a>
                            <a href="#" class="dropdown-item">Single Page</a>
                        </div>
                    </div>
                    <a routerLink="/blog"class="nav-item nav-link">Blog Page</a>
                </div>
                <div class="ml-auto">
                    <a routerLink="/dashboard" class="btn">Admin</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--nav-->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <img src="../../assets/img/baner1.jpg"  width="520" height="400" alt="">
            </div>
        </div>
    </div>

    <app-blog></app-blog>
    <app-footer></app-footer>
</div>